<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Hotel</title>
	</head>
	<body>
		<form action="/hotels/<%=hotel.id%>?_method=PUT" , method="POST">
			<div>
				<label for="title">Title</label>
				<input
					type="text"
					id="title"
					name="hotel[title]"
					value="<%=hotel.title%>" />
			</div>
			<div>
				<label for="location">Location</label>
				<input
					type="text"
					id="location"
					name="hotel[location]"
					value="<%=hotel.location%>" />
			</div>
			<div>
				<label for="price">Price</label>
				<input
					type="number"
					id="price"
					name="hotel[price]"
					value="<%=hotel.price%>" />
			</div>
			<div>
				<label for="description">Description</label>
				<input
					type="text"
					id="description"
					name="hotel[description]"
					value="<%=hotel.description%>" />
			</div>
			<button>Save</button>
		</form>
		<footer>
			<a href="/hotels/<%=hotel._id%>">Back to details</a>
		</footer>
	</body>
</html>
