<% layout("layouts/boilerplate")%>
<div class="container-fluid" id="cluster-map"></div>
<form action="/hotels" class="d-flex justify-content-center container-fluid shadow mb-3 search-form">
	<div class="col-6 my-3 me-2">
		<input type="search" placeholder="Search Hotel/Location" class="form-control" name="search" autofocus />
	</div>
	<div class="my-3 me-2">
		<select id="" class="form-select form-control" name="sort">
			<option value="">Sort By</option>
			<option value="-avg_rating">Rating</option>
			<option value="price">Lowest Price</option>
			<option value="-price">Highest Price</option>
		</select>
	</div>
	<div class="my-3 me-2">
		<button class="btn btn-success">Search</button>
	</div>
</form>

<% if (searchTerm){ %> <% if (hotels.length>0){ %>
<h1 class="text-center"><%= totalDocs %> Results Found For <%= searchTerm %></h1>
<p class="text-center"><a href="/hotels">Back To All Hotels</a></p>
<% } else{ %>
<h1 class="text-center">No Results Found For <%= searchTerm %></h1>
<p class="text-center"><a href="/hotels">Back To All Hotels</a></p>
<% } %> <% } else{ %>
<h1 class="text-center">All Hotels</h1>
<% if (totalPages){ %>
<h4 class="text-center">Page <%= currentPage %> of <%= totalPages %></h4>
<% }else{ %>
<h4 class="text-center">No Hotels Has Been Created Yet!</h4>
<% } %> <% } %>

<div class="container d-flex flex-wrap justify-content-evenly mt-5">
	<% for (let hotel of hotels){%>
	<div class="card m-1 shadow">
		<img src="<%= hotel.images.length>0? hotel.images[0].thumb : "https://placehold.co/600x400?text=No+Image&font=roboto" %>" class="card-img-top" alt="...">
		<div class="card-body">
			<h4 class="card-title"><%= hotel.title %></h4>
			<h5 class="card-text"><i class="fas fa-rupee-sign me-2 text-success"></i><%= hotel.price %>/night</h5>
			<br />
			<p class="card-text average-rating">
				<% for (let i=1; i<=Math.round(hotel.avg_rating); i++) {%>
				<i class="fas fa-star avg-rated-star text-warning"></i>
				<% } %> <% for(let j=1; j<=(5-Math.round(hotel.avg_rating)); j++){ %>
				<i class="far fa-star avg-rated-star text-warning"></i>
				<% } %>
				<br /><%= hotel.reviews.length %> Reviews
			</p>
			<p class="card-text">
				<small class="text-muted"><i class="fas fa-globe me-2 text-danger"></i><%= hotel.location%></small>
			</p>
			<a class="btn btn-primary" href="/hotels/<%=hotel._id%>">View <%=hotel.title%></a>
		</div>
	</div>
	<% }%>
</div>

<nav aria-label="Page navigation" class="mt-5">
	<% if (totalPages && totalPages > 0) { %>
	<ul class="pagination justify-content-center flex-wrap">
		<% if (currentPage == 1) { %>
		<li class="page-item disabled"><a class="page-link">First</a></li>
		<% } else { %>
		<li><a class="page-link" href="/hotels?<%= sortby? `&sort=${sortby}`: ''%><%= searchTerm? `&search=${searchTerm}`: '' %>">First</a></li>
		<% } %> <% if (currentPage == 1) { %>
		<li class="page-item disabled"><a class="page-link">«</a></li>
		<% } else { %>
		<li>
			<a
				class="page-link"
				href="/hotels?pageNumber=<%= Number(currentPage) - 1 %><%= sortby? `&sort=${sortby}`: ''%><%= searchTerm? `&search=${searchTerm}`: '' %>"
				>«</a
			>
		</li>
		<% } %> <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %> <% if (i !== 1) { %>
		<li class="page-item disabled"><a class="page-link">...</a></li>
		<% } %> <% for (; i <= (Number(currentPage) + 4) && i <= totalPages; i++) { %> <% if (i == Number(currentPage)) { %>
		<li class="page-item active"><a class="page-link"><%= i %></a></li>
		<% } else { %>
		<li>
			<a class="page-link" href="/hotels?pageNumber=<%= i %><%= sortby? `&sort=${sortby}`: ''%><%= searchTerm? `&search=${searchTerm}`: '' %>"><%= i %></a>
		</li>
		<% } %> <% if (i == Number(currentPage) + 4 && i < totalPages) { %>
		<li class="page-item disabled"><a class="page-link">...</a></li>
		<% } %> <% } %> <% if (currentPage == totalPages) { %>
		<li class="page-item disabled"><a class="page-link">»</a></li>
		<% } else { %>
		<li>
			<a
				class="page-link"
				href="/hotels?pageNumber=<%= Number(currentPage) + 1 %><%= sortby? `&sort=${sortby}`: ''%><%= searchTerm? `&search=${searchTerm}`: '' %>"
				>»</a
			>
		</li>
		<% } %> <% if (currentPage == totalPages) { %>
		<li class="page-item disabled"><a class="page-link">Last</a></li>
		<% } else { %>
		<li>
			<a class="page-link" href="/hotels?pageNumber=<%= totalPages %><%= sortby? `&sort=${sortby}`: ''%><%= searchTerm? `&search=${searchTerm}`: '' %>">Last</a>
		</li>
		<% } %>
	</ul>
	<% } %>
</nav>

<script>
	const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
	const hotels = { features: <%- JSON.stringify(allHotels) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
